body{
    background-color: yellow;
}

/* h1{
    color: red;
} */

body{
    background-color: teal
}

/* p{
    color: brown
} */

.container{
    padding-top: 30px;
    margin-top: 2em
}

.navbar{
    
}